html {
  margin: auto;
  height: 100%;
}

body {
  text-align: center;
  margin: unset;
  font-family: HelveticaNeue-light, arial, sans-serif;
  color: #555555;
}

h3 {
  text-align: left;
  margin-bottom: 12px;
  margin-top: 21px;
}

.notice-area {
  background-color: #292d32;
  padding: 12px;
  font-weight: 600;
  color: white;
}

.notice-area a {
  color: white;
}

.content-area {
  display: flex;
  padding: unset;
  height: 90vh;
}

@media (max-width: 750px) {
  .content-area {
    display: block;
    padding: unset;
    height: 90vh;
  }
}

.main-area {
  width: 100%;
  margin: 12px 6px 12px 12px; /* Small margin on right side */
}

.side-area {
  max-width: 750px;
  margin: 6px 12px 12px 6px; /* Small margin on top & left side */
}

@media (max-width: 750px) {
  .main-area {
    /* Limit only on mobile */
    width: unset;
    margin: 12px;
  }

  .side-area {
    margin: 12px;
  }
}

/* Text in form */
input {
  font-size: 16px;
}

/* Style inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
.button, .submit-button {
  font-size: 16px;
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  color: #555555;
  background-color: #DDDDDD;
}

.button:hover {
  background-color: #cfcfcf;
}

.submit-button {
  background-color: #4CAF50;
}

/* Add a background color to the submit button on mouse-over */
.submit-button:hover {
  background-color: #45a049;
}

/* Style iframe */
iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 3;
}

.description {
  text-align: left;
  font-size: 14px;
}

.section {
  text-align: left;
  max-width: 750px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 36px;
  margin: auto;
  align-content: center;
  line-height: 1.8em;
}

#progress {
  margin-bottom: 14px;
  display: none; /* Default hidden */
}

/* Linear progress bar */
.linear-activity {
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: #B3E5FC;
  margin: 0;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #03A9F4;
  animation: indeterminate_first 1.5s infinite ease-out;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}
